<header style="margin-top: 2px;margin-bottom: 2px"
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between  border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
      <use xlink:href="#bootstrap"></use>
    </svg>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" (click)="showUser()" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
  </ul>

  <div style="margin-right: 10px" class="col-md-3 text-end">
    <div *ngIf="user.id==null||user.id==0">
      <button type="button" (click)="showLoginForm()" class="btn btn-outline-primary me-2">Login</button>

      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
    <div *ngIf="user.id!=null&&user.id>0">
      {{user.name}}
    </div>
  </div>
</header>
<div style="background: lightskyblue;min-height: 800px">
  <app-login [hidden]="isLoginFormHidden" style="position: absolute;align-self: center;"
             class="position-absolute top-50 start-50 translate-middle"></app-login>
  <div class="container" style="background: white">
    <app-titlelist style="min-height: 700px"></app-titlelist>
  </div>
</div>
